:root {
    --Off-white: hsl(36, 100%, 99%);
    --Grayish_blue: hsl(233, 8%, 79%);
    --Dark_grayish_blue: hsl(236, 13%, 42%);
    --Very_dark_blue: hsl(240, 100%, 5%);
    --Soft_orange: hsl(35, 77%, 62%);
    --Soft_red: hsl(5, 85%, 63%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 1rem;
}

header {
    width: 85vw;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    display: none;
    align-self: flex-end;
}

.logo {
    flex-basis: 60%;
}

.navbar {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.navbar_items {
    font-weight: 400;
    color: var(--Dark_grayish_blue);
}

.main_container {
    display: flex;
    width: 85vw;
    margin: 0 auto;
    margin-top: 2%;
    column-gap: 1rem;
    margin-bottom: 3%;
}

.heading {
    flex-basis: 70%;
}

.heading_image_container {
    display: flex;
}

.main_image {
    width: 100%;
}

.news_column {
    flex-basis: 30%;
    background-color: var(--Very_dark_blue);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 0.5rem;
}

.column_header {
    font-weight: 800;
    font-size: 2rem;
    margin-left: 4%;
    color: var(--Soft_orange);
}

.column_title {
    color: var(--Off-white);
    margin-left: 4%;
    font-size: 1.4rem;
    font-weight: 700;
}

.column_content {
    color: var(--Grayish_blue);
    margin-left: 4%;
    font-weight: 400;
    font-size: 1.1rem;
}

.content_container {
    display: flex;
    margin-top: 2%;
}

html {
    font-size: 1rem;
}

.left {
    display: flex;
    flex-basis: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    /* justify-content: space-between; */
}

.heading_text {
    font-weight: 800;
    line-height: 4rem;
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
    color: var(--Very_dark_blue);
}

.heading_content {
    font-weight: 400;
    color: var(--Dark_grayish_blue);
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 4%;
    margin-bottom: 4%;
    /* word-spacing: 0.4rem; */
}

.button_container {
    display: flex;
    margin-bottom: 1%;
    margin-left: 1%;
    justify-content: left;
}

button {
    padding: 3% 7%;
    align-content: center;
    background-color: var(--Soft_red);
    color: var(--Off-white);
    font-size: 1rem;
    margin-top: 3%;
}

.article_container {
    margin-top: 2%;
    display: flex;
    width: 85vw;
    margin: 0 auto;
    /* justify-content: flex-start; */
}

.article_box {
    display: flex;
    column-gap: 2%;
}

.article_image_container {
    flex-basis: 30%;
    display: flex
}

.article_image {
    width: 100%;
}

.article_content_container {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number {
    color: var(--Grayish_blue);
    font-weight: 800;
    font-size: 1.8rem;
}

.article_heading {
    color: var(--Very_dark_blue);
    font-weight: 700;
    font-size: 1.4rem;
}

.article_content {
    color: var(--Dark_grayish_blue);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin-bottom: 10%;
}

.article2 {
    margin-left: 3.9%;
}

.article3 {
    margin-left: 7%;
}

@media screen and (max-width:870px) {
    .navbar_items {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .navbar {
        justify-content: flex-end;
    }
    .article2 {
        margin-left: 0%;
    }
    .article3 {
        margin-left: 0%;
    }
}

@media screen and (max-width:769px) {
    .main_container {
        margin-top: 10%;
        flex-direction: column;
    }
    .heading {
        flex-basis: 100%;
    }
    .content_container {
        flex-direction: column;
    }
    .news_column {
        flex-basis: 100%;
        padding: 0.7rem;
        margin-top: 5%;
    }
    .column_content {
        margin-top: 4%;
        margin-bottom: 3%;
    }
    .column_title {
        margin-top: 5%;
    }
    .column_header {
        margin-top: 1%;
    }
    .article_container {
        flex-direction: column;
        margin-top: 3%;
    }
    .article_box {
        margin-bottom: 3%;
    }
    .article_heading {
        font-size: 2rem;
    }
    .article_content {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

@media screen and (max-width:390px) {
    .number {
        font-size: 1.5rem;
    }
    .article_heading {
        font-size: 1.2rem;
    }
    .article_content {
        font-size: 1.1rem;
        line-height: 1rem;
    }
}